<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <div class="right-box">
      <span class="search-box-div">   
               <strong>Search:</strong> 
               <input type="text" name="search" autocomplete="off"  id="myInput" onkeyup="myFunction()">
               </span>  
                 <span>                                    
                    {{!-- <a class="btn btn-secondar" href="/addnewmember/{{datagroup._id}}" ><i class="fa fa-group" style="color:rgb(236, 149, 149)"></i>Add Member</a> --}}
                
               </span>
 </div>
  <div class="table-responsive"> 
     <table class="table table-striped table-sm" id="sampleTable" style="width:100% !important;">       
        <thead>
            <tr  style="text-align:center;">
                <th>Name</th>
                <th>Email</th>                
                <th>Mobile</th> 
          </tr>
        </thead>
        <tbody  style="text-align:center;">
            
        </tbody> 
    </table>
   </div> 
{{!--Get Group member list--}}
   <script type="text/javascript">
   $(document).ready(function(){
              GetuserList();          
           });
   function GetuserList(){
       $.ajax({
           "url":'/groupmember',
           "type":'Json',
           "method":'GET',
           success:function(content)
           {        
             $('#sampleTable').DataTable().destroy();                     
               $('#sampleTable').DataTable({
                   data:content,
                   "columns":[
                                { data:"username"},
                                { data:"email" },
                                { data:"mobile"}
                   ]
               });

           },
             error:function(msg)
             {
                 console.log(msg.responseText);
             }

       });
   }
        //Search token details base on pair/token
        function myFunction() 
        {
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("sampleTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            } else {
            tr[i].style.display = "none";
            }
            }       
            }
            
        }
//Delete record alert message.
  var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Are you sure you want to delete?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }

   </script>
