
  <div class="right-box">
      <span class="search-box-div">   
               <strong>Search:</strong> 
               <input type="text" name="search" autocomplete="off"  id="myInput" onkeyup="myFunction()">
               </span>  
               
               </div>
  <div class="table-responsive"> 
    <table class="table table-striped table-sm" id="sampleTable" style="width:100% !important;">       
        <thead>
            <tr  style="text-align:center;">
                <th>Name</th>                
                <th>Email</th>
                <th>Mobile</th>
                <th>Action</th>
                
          </tr>
        </thead>
        <tbody  style="text-align:center;">
              {{#each data}}      
            <tr>
                <td><i class="fa fa-user" aria-hidden="true"></i>  {{fullname}}</a></td>               
                <td>{{email}}</td>
                <td>{{mobile}}</td>
                <td><a  href='/deletegroup/{{_id}}' class="confirmation"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a></td>
            </tr>
            {{/each}}
        </tbody> 
    </table>
   </div> 

   <script>
        //Search token details base on pair/token
        function myFunction() 
        {
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("sampleTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            } else {
            tr[i].style.display = "none";
            }
            }       
            }
            
        }
//Delete record alert message.
  var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Are you sure you want to delete?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }

   </script>
