<br />

<p>Hello Mr. {{user.username}} Sorry! You can't add new member in <strong style="color:red">{{data.groupname}} </strong>
    group
    because
    your add new member limit
    complete </p>

<p>Limit - {{data.limit}}</p>
<p>Total Member - {{data.limit}}</p>