<br />
<div class="container-fluid">
    <div class="row">
        <div class="block">

            <div class="title"><strong class="d-block">Group Details
            </div>
            <div class="block-body">
                <div>Group Name: {{data.groupname}}</div>
                <hr>
                <div>Total Member: {{data.total}}</div>
                <hr>
                <div>Amount: {{data.amount}}</div>
            </div>
        </div>
    </div>
</div>